# vim: filetype=sh

export PROJECT_HOME="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
export PROJECT_NAME="$(basename $PROJECT_HOME)"

PATH_add $PROJECT_HOME/node_modules/.bin

if [ -e .env ]; then
  watch_file .env
  dotenv
fi
